* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    background-color: #789C9B;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: black;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left-panel img {
    width: 100px;
    height: auto;
}

.left-panel h1 {
    font-size: 36px;
    margin-top: 20px;
    font-weight: bold;
}

.left-panel h2 {
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Segoe script';
}

.right-panel {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c2ffe5a7;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle-btn1 {
    flex: 1;
    padding: 10px;
    border:#000;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
}

.toggle-btn2 {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
}
.toggle-btn:first-child {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

form select, form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-btn {
    padding: 10px;
    border: none;
    background-color: #000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
